<h1>ReverseBinaries#new</h1>
<p>Find me in app/views/reverse_binaries/new.html.erb</p>
<h1>Reverse Binary</h1>
<%= form_with(model: @reverse_binary, url: reverse_binaries_path, method: :post) do |form| %>
  <%= form.label :number, 'Enter a natural number (m): ' %>
  <%= form.text_field :number, required: true %>
  <%= form.submit 'Calculate' %>
<% end %>